@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-Black.otf") format("woff");
  font-weight: 900; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-BlackItalic.otf") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-ExtraBold.otf") format("woff");
  font-weight: 800; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.otf") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-Bold.otf") format("woff");
  font-weight: 700; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-BoldItalic.otf") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-SemiBold.otf") format("woff");
  font-weight: 600; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.otf") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-Medium.otf") format("woff");
  font-weight: 500; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-MediumItalic.otf") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-Regular.otf") format("woff");
  font-weight: 400; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-Italic.otf") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-Light.otf") format("woff");
  font-weight: 300; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-LightItalic.otf") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-ExtraLight.otf") format("woff");
  font-weight: 200; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.otf") format("woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-Thin.otf") format("woff");
  font-weight: 100; }

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/Montserrat-ThinItalic.otf") format("woff");
  font-weight: 100;
  font-style: italic; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html, body {
  font-family: montserrat;
  font-weight: 400; }

a {
  text-decoration: none;
  color: inherit; }

.post {
  margin-bottom: 30px; }
  .post--image {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px; }
    .post--image img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .post--title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 15px; }
  .post__category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px; }
    .post__category--item {
      font-weight: bold;
      font-size: 16px;
      color: #F05A28; }
      .post__category--item:not(:first-child) {
        margin-left: 5px; }
  .post__meta {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .post__meta--item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 900;
      font-size: 13px;
      color: black; }
      .post__meta--item:not(:first-child) {
        margin-left: 10px; }
      .post__meta--item img {
        height: 20px;
        object-fit: contain;
        margin-right: 5px; }

.ads {
  background: linear-gradient(59.64deg, #0072C5 26.38%, #80C2FF 78.05%);
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 30px); }
  .ads--description {
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF; }

.container {
  width: 1140px;
  margin: 0 auto; }

.col-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px; }

.col-1 {
  width: calc(100% / 12);
  padding: 0 10px; }

.col-2 {
  width: calc(100% / 6);
  padding: 0 10px; }

.col-3 {
  width: calc(100% / 4);
  padding: 0 10px; }

.col-4 {
  width: calc(100% / 3);
  padding: 0 10px; }

.col-5 {
  width: calc((100% / 12) * 5);
  padding: 0 10px; }

.col-6 {
  width: calc(100% / 2);
  padding: 0 10px; }

.col-7 {
  width: calc((100% / 12) *7);
  padding: 0 10px; }

.col-8 {
  width: calc((100% / 12) *8);
  padding: 0 10px; }

.col-9 {
  width: calc((100% / 12) *9);
  padding: 0 10px; }

.col-10 {
  width: calc((100% / 12) *10);
  padding: 0 10px; }

.col-11 {
  width: calc((100% / 12) *11);
  padding: 0 10px; }

.col-12 {
  width: calc(100%);
  padding: 0 10px; }

.align-items-start {
  align-items: flex-start; }

.align-items-center {
  align-items: center; }

.align-items-end {
  align-items: flex-end; }

.align-self-stretch {
  align-self: stretch; }

header {
  padding: 20px 0;
  border-bottom: 1px solid #e1e1e1; }

.logo img {
  height: 56px;
  object-fit: contain; }

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .search-button img {
    height: 25px; }

.top-news {
  padding: 40px 0;
  border-bottom: 1px solid #e1e1e1; }
  .top-news__item {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .top-news__item-left {
      width: 73px; }
    .top-news__item-right {
      width: calc(100% - 73px);
      padding-left: 20px; }
    .top-news__item--image {
      height: 73px;
      width: 100%;
      object-fit: cover;
      border-radius: 8px; }
    .top-news__item--title {
      font-weight: bold;
      font-size: 14px;
      color: #393939;
      margin-bottom: 10px; }
    .top-news__item--description {
      font-size: 12px;
      color: rgba(57, 57, 57, 0.9); }

.posts {
  padding: 50px 0; }

.hot-news {
  padding: 30px 0; }
  .hot-news__item {
    position: relative;
    border-radius: 8px;
    overflow: hidden; }
    .hot-news__item::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 100%;
      width: 100%;
      z-index: 4;
      background: linear-gradient(180deg, rgba(239, 240, 240, 0) 23.76%, rgba(239, 240, 240, 0.91) 89.5%, rgba(239, 240, 240, 0.93) 96.69%); }
    .hot-news__item-big {
      height: 420px; }
    .hot-news__item-medium {
      height: 200px;
      margin-bottom: 20px; }
    .hot-news__item-small {
      height: 200px; }
      .hot-news__item-small .hot-news__item--title {
        font-size: 16px;
        line-height: 20px; }
      .hot-news__item-small .hot-news__item--content {
        padding: 10px 15px; }
    .hot-news__item--image {
      height: 100%;
      width: 100%; }
      .hot-news__item--image img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
    .hot-news__item--content {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 5;
      padding: 20px 40px; }
    .hot-news__item--title {
      font-weight: bold;
      font-size: 21px;
      line-height: 26px;
      color: #000; }
    .hot-news__item--meta {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 15px; }
      .hot-news__item--meta-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 900;
        font-size: 13px;
        color: #000; }
        .hot-news__item--meta-item:not(:first-child) {
          margin-left: 10px; }
        .hot-news__item--meta-item img {
          height: 20px;
          object-fit: contain;
          margin-right: 5px; }

.home-ads {
  height: 200px; }
  .home-ads .ads {
    height: 200px; }
